# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
.next/
out/
dist/
build/

# Vercel
.vercel/

# Local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# System
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Mac/Windows cache
*.swp
*.swo
*.bak

# Logs
logs
*.log
*.tsbuildinfo
